@import url('https://fonts.googleapis.com/css?family=Kodchasan|MedievalSharp|Medula+One');

body {
    margin: 0 auto;
    padding: 0 auto;
    max-width: 1366px;
    overflow-x: hidden;
}

.banner {
    background-image: url('../img/header-flowers.jpg');
    background-size: cover;
    background-position: center;
    padding: 70px;
}

.title-of-header {
    display: flex;
    justify-content: center;
}

h1 {
    border: 2px solid black;
    padding: 20px;
    font-family: 'MedievalSharp', cursive;
    font-size: 2em;
}

.header-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.one-nav {
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    margin: 2%;
    text-align: center;
    justify-content:center;
    font-family: 'MedievalSharp', cursive;
    font-size: 24px;
    text-decoration: none;
}
.smooth{
    padding:75px;
    text-decoration: none;
}
.one-nav:hover {
    cursor: pointer;
    
}

.one-nav-first {
    background-color: rgba(72, 209, 204, 0.5);
    
}

.one-nav-first:hover {
    background-color: rgba(72, 209, 204, 0.8);
    
}

.one-nav-second {
    background-color: rgba(255, 20, 147, 0.5);
}

.one-nav-second:hover {
    background-color: rgba(255, 20, 147, 0.8);
}

.one-nav-third {
    background-color: rgba(0, 255, 127, 0.5);
}

.one-nav-third:hover {
    background-color: rgba(0, 255, 127, 0.8);
}

.one-nav-fours {
    background-color: rgba(171, 226, 6, 0.5);
}

.one-nav-fours:hover {
    background-color: rgba(171, 226, 6, 0.8);
}

.title-of-nav {
    display: flex;
    justify-content: center;
    font-family: 'MedievalSharp', cursive;
    font-size: 2em;
    color: white;
}

.text-of-nav {
    text-align: center;
    font-family: cursive;
    color: white;
}

.welcome-section {
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    margin-bottom: 3%;
}

.welcome-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-welcome-section {
    display: flex;
    justify-content: center;
    font-family: 'Medula One', cursive;
    font-size: 2em;
}

.text-welcome-section {
    text-align: center;
    font-family: cursive;
    color: black;
    padding: 30px;
}

.image-welcome-section {
    padding-right: 3%;
}

#img-size {
    width: 100%;
}

.flowers-price-section {
    background-image: url('../img/div-background.jpg');
    
}

@media (max-width: 800px) {
    .flowers-price-section {
        display: grid;
        
    }
}

@media (max-width: 600px) {
    .flowers-price-section {
        
    }
    .image-welcome-section {
        display: none;
    }
}

@media (max-width: 400px) {
    .flowers-price-section {
        grid-template-columns: repeat(1, 1fr);
    }
}

.flower-card {
    margin: 15px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.flower-card img {
    width: 70%;
    border-radius: 50%;
}


.flower-card-name {
    font-family: 'Medula One', cursive;
    font-size: 2em;
}

.flower-card-button {
    width: 150px;
    height: 30px;

}

.flower-card-button:hover {
    border: 2px solid rgb(122, 163, 163);
    cursor: pointer;
}

.bgvideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: 50%;
    height: auto;
    z-index: -1;
}

.blog-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 800px) {
    .blog-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .one-nav-fours {
        display: none;
    }
    .one-nav-third {
        display: none;
    }
}
@media (max-width:600px) {
    .one-nav {
        display: none;
    }
   
}

.blog-card {
    margin: 15px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 2px solid rgb(244, 194, 252);

}

.blog-card img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

@media (max-width: 800px) {
    .blog-card img {
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 500px) {
    .blog-card img {
        width: 100px;
        height: 100px;
    }
}

.blog-card-text {
    padding: 10px;
    text-align: center;
    font-family: 'Kodchasan', sans-serif;
}

.version-two {
    background-color: rgb(222, 252, 194);
}

.contact {
    width: 100%;
    background-color: rgba(45, 76, 71, 0.7);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contact img {
    width: 50px;
    height: 50px;
    padding: 10px;
}

.fixed-nav {
    max-width: 1366px;
    width: 100%;
    height: 26px;
    position: fixed;
    top: 0px;
    background-color: rgba(66, 134, 244, 0.9);
    z-index: 1;
}

.nav-contact {
    display: flex;
    justify-content: flex-end;
}

.nav-contact>button {
    padding: 0 20px 0 20px;
    font-family: 'MedievalSharp', cursive;
     background-color: rgb(0, 67, 175);
}

.nav-contact button:hover {
    background-color: rgb(37, 101, 206);
    cursor: pointer;
}

.btn-send {
    background-color: rgb(4, 54, 135);
}

.modal-body-css{
    background-color: rgb(244, 244, 244);
}
.modal-header-css, .modal-footer-css {
    background-color: rgb(234, 234, 234);
}

.modal-dialog-css{
    width: 300px;
}

.price {
  display: none;
  font-size: 30px;
  font-weight: 700;
  font-family: 'Segoe UI';
  line-height: 300px;
  text-align: center;
  color: #fff;
  animation: fade .5s linear forwards;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.flower-card  img:hover .price{
display: block;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.style-card{
    background-color: transparent;
    border:none;
    margin: 15px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}
.style-card-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.style-cart-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.badge-light {
    color: #212529;
    background-color: rgba(21, 1, 164, 0.13);
}
.badge {
    border-radius:.50rem;
}
.nav-link{
 padding: 0 1rem;   
}
a {
    color:rgb(0, 51, 135);
}
.border-bottom-line{
    border-bottom: 2px solid black;
    display:flex;
    justify-content: center;
    text-align: center;
}