@import url('https://fonts.googleapis.com/css?family=Kodchasan|MedievalSharp|Medula+One');

header{
    margin:0;
    padding:0;
}
.banner {
    background-image: url('../img/header-flowers.jpg');
    background-size: cover;
    background-position: center;
    padding: 70px;
}

.title-of-header{
    display: flex;
    justify-content: center;
}

h1 {
    border: 2px solid black;
    padding: 20px;
    font-family: 'MedievalSharp', cursive;
    font-size: 2em;
}

.header-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.one-nav {
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    margin: 2%;
}

.one-nav:hover{
    cursor: pointer;
}

.one-nav-first{
     background-color: rgba(72, 209, 204, 0.5);
}

.one-nav-first:hover{
     background-color: rgba(72, 209, 204, 0.8);
}

.one-nav-second{
     background-color: rgba(255, 20, 147, 0.5);
}

.one-nav-second:hover{
     background-color: rgba(255, 20, 147, 0.8);
}

.one-nav-third{
     background-color: rgba(0, 255, 127, 0.5);
}

.one-nav-third:hover{
     background-color: rgba(0, 255, 127, 0.8);
}

.one-nav-fours{
     background-color: rgba(171, 226, 6, 0.5);
}

.one-nav-fours:hover{
     background-color: rgba(171, 226, 6, 0.8);
}

.title-of-nav {
    display: flex;
    justify-content: center;
    font-family: 'MedievalSharp', cursive;
    font-size: 2em;
    color: white;
}

.text-of-nav {
    text-align: center;
    font-family: cursive;
    color: white;
}

.welcome-section {
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    margin-bottom: 3%;
}

.welcome-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-welcome-section{
    display: flex;
    justify-content: center;
    font-family: 'Medula One', cursive;
    font-size: 2em;
}

.text-welcome-section{
    text-align: center;
    font-family: cursive;
    color: black;
    padding: 30px;
}

.image-welcome-section{
padding-right: 3%;
}

#img-size {
    width: 100%;
}

.flowers-price-section{
    background-color: rgba(217, 224, 224,0.8);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.flower-card{
    margin: 15px;
    padding: 5px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flower-card img{
    width: 70%;
    border-radius: 50%;
}


.flower-card-name{
    font-family: 'Medula One', cursive;
    font-size: 2em;
}

.flower-card-button{
    width: 30%;
    border-radius: 10%;
    height: 7%;
}

.flower-card-button:hover{
    border: 2px solid rgb(122, 163, 163);
    cursor: pointer;
}
.bgvideo {
  position: fixed;
  right: 0;
  bottom:0;
  min-width: 100%;
  min-height: 100%;
  width: 50%;
  height: auto;
  z-index: -1;
}
.blog-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.blog-card {
    margin: 15px;
    padding: 5px; 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 2px solid rgb(244, 194, 252)
;
    background-color: rgb(249, 214, 255);

}
.blog-card img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.blog-card-text{
    padding: 10px;
    text-align: center;
    font-family: 'Kodchasan', sans-serif;
}
.version-two{
    background-color: rgb(222, 252, 194);
}
.contact{
    width: 100%;
    background-color: rgba(45, 76, 71, 0.7);
    display: flex;
    flex-direction:row;
    justify-content:space-around;
}
.contact img {
   width: 30px;
   height: 30px;
   padding: 2%;
}